<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ScalaMill</h5>
        <p class="grey-text text-lighten-4">Developing Software At Pace</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Company</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Consulting and Traning</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Learn</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ScalaMill©2017 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
