<head>
<script>

// $(document).ready(function(){
// // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
// $('.modal').modal();
// });

</script>
</head>

<div class="card hoverable cyan lighten-3">
  <div class="purple accent-3" style="height:2px">
  </div>
  <div class="card-content white-text">
    <div class="right">
    <img src="./assets/img/scala-train.png" style="color:#ea9a9a">
  </div>
      <span class="card-title" style="padding-top:30px;font-weight:400;font-size:20px">{{card?.cardTitle}}</span>

  </div>
  <div class="card-content white">
    <p>{{card?.explanation}}</p>
  </div>
  <div class="card-action center">
    <a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Know more</a>
  </div>
  <div class="purple" style="height:2px">
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class=" container modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
  <div class="row center blue-grey white-text">
    <h5>Curriculam</h5>
  </div>
  <app-course [course] = "chooseCourse(index)"></app-course>
  </div>
  <div class="section center blue-grey-text text-darken-3" style="position:fixed;z-index: 99;top:0">
  <a class="modal-action modal-close waves-effect waves-green btn">Agree</a>
  <a class="waves-effect waves-green btn" (click)="closeModal()">Close</a>
</div>

</div>
