<div class="card hoverable cyan lighten-3">
  <div class="purple accent-3" style="height:2px">
  </div>
  <div class="card-content white-text">
    <div class="right">
    <img src="./assets/img/scala-train.png" style="color:#ea9a9a">
  </div>
      <span class="card-title" style="padding-top:30px;font-weight:400;font-size:20px">{{card?.cardTitle}}</span>

  </div>
  <div class="card-content white">
    <p>{{card?.explanation}}</p>
  </div>
  <div class="card-action center">
    <a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Know more</a>
  </div>
  <div class="purple" style="height:2px">
  </div>
</div>


 <div id="modal1" class="modal modal-fixed-header modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
   <div class="modal-content">
     <app-course [course] = "chooseCourse(index)"></app-course>
   </div>
   <div class="modal-header">
     <a class=" modal-action modal-close waves-effect waves-green btn">Agree</a>
   </div>
   <div class="modal-footer">
     <a class=" modal-action modal-close waves-effect waves-green btn">Agree</a>
   </div>
 </div>
