<div>
<nav>
  <div class="nav-wrapper blue-grey darken-2">
    <a href="#" data-activates="mobile-bar" class="button-collapse"><i class="material-icons">menu</i></a>
    <img class="brand-logo" src="/assets/img/scala-logo.png" alt="scala logo not found">
    <ul class="right hide-on-med-and-down">
      <li><a routerLink = "./training"><span class ="orange-text">Company</span></a></li>
      <li><a routerLink = "./train"><span class ="orange-text">Consulting & Traning</span></a></li>
      <li><a href="badges.html"><span class ="orange-text">Learn</span></a></li>
      <li><a href="collapsible.html!"><span class ="orange-text">Contact</span></a></li>
    </ul>
    <ul class="side-nav" id="mobile-bar">
      <li><a href="sass.html"><span class ="orange-text darken-3">Company</span></a></li>
      <li><a href="sass.html"><span class ="orange-text darken-3">Consulting & Traning</span></a></li>
      <li><a href="badges.html"><span class ="orange-text darken-3">Learn</span></a></li>
      <li><a href="collapsible.html!"><span class ="orange-text text-darken-3">Contact</span></a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
</div>
