<div class="row">
  <div class="col l4 s12 m6" *ngFor="let card of cards">
    <div class="card">
      <div class="btn-large col s12 l12 m12"><i class="material-icons left">{{card?.icon}}</i>
        <span class="center">{{card?.title}}</span>
      </div>
      <pre class = "card-content blue-grey-text" style="margin-left:2px;font-size:20px;font-family:sans-sarif">{{card?.explanation}}</pre>
         <div class="card-action">
        <a target="_blank" [href]="card?.url">Know More</a>
      </div>
    </div>
  </div>
  </div>
